PORT=8080

DATABASE_URL=""

BETTER_AUTH_SECRET=""
API_BASE_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GOOGLE_GENERATIVE_AI_API_KEY=""
OPENAI_API_KEY=""

WEB_APP_BASE_URL="http://localhost:3001"